.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:  rgb(112, 216, 128);
}

.App-header {
  background-color: rgb(211, 216, 112);
  height: 70px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
